---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero";
import Benefits from "../components/Benefits";
import Services from "../components/Services";
import Testimonials from "../components/Testimonials";
import FeaturedReels from "@/components/FeaturedReels";
import { getLatestFacebookReels } from "@/lib/social";
import FAQ from "@/components/FAQ";
import Plans from "@/components/Plans";
import ContactForm from "@/components/ContactForm";
import Footer from "@/components/Footer";
import "@/styles/global.css";

const reels = await getLatestFacebookReels(4);
---

<Layout title="JyM mantenimientos | Mantenimiento Profesional de Piscinas">
	<Navbar client:load />
	<main>
		<Hero client:load />
		<Benefits client:load />
		<Services client:load />
		<Plans client:load />
		<FeaturedReels client:load initialReels={reels} />
		<Testimonials client:load />
		<FAQ client:load />
		<ContactForm client:load />
	</main>
	<Footer />
</Layout>
